/* ------------------
 styling for the tables 
   ------------------   */
 #crashtable{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
th {
    text-align: center;
    font-weight: normal;
}
td {
  font-weight: bold;
}   
#crashtable .hiconeven
{
  border: 2px solid black;
}
   
#crashtable .hiconodd
{
  border: 2px solid black;
}
 #crashtable .odd
{
  background: #E5E5E5; 
/*  border-right: 2px solid black; */
  border: 2px solid black;
}
#crashtable .even
{
  border-right: 2px solid black;
}

 #crashtable .odd th
{ 
  padding: 4px;
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

 #crashtable .odd td
{
  border: 1px solid black;
  padding: 2px;
  
}

 #crashtable .even th
{ 
  padding: 4px;
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

 #crashtable .even td
{
  border: 1px solid black;
  padding: 2px;
}
